<div class="genre-view">
  <div class="genre-view__header">
    <div class="genre-view__header--heading">Gutenberg Project</div>
    <div class="genre-view__header--subheading">
      A social cataloging website that allows you to freely search its database
      of books, annotations, and reviews.
    </div>
  </div>
  <div class="genre-view-buttons">
    <div class="genre-view-buttons-categoryList">
      <div
        class="genre-view-buttons__category"
        *ngFor="let genre of genresList"
        (click)="selectedGenre(genre)"
      >
        <div class="genre-view-buttons__category-name">
          <img
            class="genre-view-buttons__category--icon"
            src="{{ genre.icon }}"
          />
          <div class="genre-view-buttons__category-name--text">
            {{ genre.name }}
          </div>
        </div>
        <div>
          <img
            class="genre-view-buttons__category--icon"
            src="../../assets/icons/Next.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
